@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,500&family=Montserrat:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;

}

.item-title{
    font-family: 'Fraunces', serif;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    height: 500px;
    width: 600px;
    display: flex;
    border-radius: 1rem;
}

.card-left{
    width: 50%;
    background-image: url('images/image-product-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.card-right{
    width: 50%;
    border: 1px solid black;
}

.right{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    padding: 35px 40px;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10px;
}

.item-category{
    font-size: 16px;
    color: var(--paragraph-color);
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 1rem;
}

h1{
    font-size: 38px;
    color: var(--perfume-color);
    margin: 2rem;
}

.prices{
    width: 100px;
    display: flex;
    align-items: center;
    gap: 24px;
    font-family: 'Fraunces', serif;
}

.prices-updated{
    font-size: 36px;
    color: hsl(158, 36%, 37%);
}

.prices-previous{
    font-size: 14px;
    text-decoration: line-through;
    color: var(--paragraph-color);
}

.btn{
    width: 90%;
    padding: 20px 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 700;
    border-radius: 7px;
    background-color: hsl(158, 36%, 37%);
    border: none;
    cursor: pointer;
}



button img{
    margin-right: 7px;
}

.description{
    height: 50px;
    margin: 2rem;
}

